* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}
.body {
    background-color: #EEE3CB;
}
/*------------navbar----------------*/
.nav__nav {
    background-color: #b7c4cf;
    display: flex;
    position: fixed;
    width: 100%;
}

.nav__conteiner{
    display: flex;
}

.logo{
    width: 40px;
    border: 1px transparent;
    border-radius: 50%;
    
}
/*-------------------------Mobile------------------*/
.nav__nav {
    background-color: #b7c4cf;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    margin-top: 0;
    z-index: 99999;
}
.nav__conteiner{
    display: flex;
}
.logo{
    width: 70px;
    border: 1px transparent;
    border-radius: 50%;
}
.main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border-bottom: 2px solid #967E76;
    padding-bottom: 20px;
}
.main__container-title {
    display: flex;
    margin-top: 100px;
    padding: 10px 20%;
    border-top: 2px solid #967E76;
    border-bottom: 2px solid #967E76;
    margin-bottom: 20px;
}
.main__title {
    text-align: center;
    font-weight: 600;  
    font-size: 2.3em; 
}
.main__container-image {
    display: flex;
    justify-content: center;
}
.main__image {
    width: 90%;
    height: 10%;
    object-fit: cover;
    object-position: center;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__container-article {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}
.section__article__subtitle {
    font-size: 2em;
    font-weight: 600;
    margin-bottom:20px;
}
.section__article__text {
    display: flex;
    text-align: justify;
    margin-bottom: 30px;
}
.section__article__container-img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.section__article__img {
    width: 80%;
    border: 5px solid #b7c4cf;
    object-fit: cover;
}
.section__container-carousel {
    display: flex;
    justify-content: center;
    border-top: 2px solid #967E76;
    border-bottom: 2px solid #967E76;
    padding: 20px;
    width: 100%;
}
.img_carousel {
    height: 400px;
    object-fit: cover;
}
.section__container-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #b7c4cf;
    padding: 30px 50px;
    margin: 30px 0;
}
.section__form__container-title {
    margin-bottom: 20px;
}
.section__form__title {
    font-size: 2em;
}
.form-control {
    background-color: #dae1e7;
    border: 2px solid #967E76;
}
.form-control::placeholder {
    color: #967E76;
    font-weight: 600;
}
.form-btn {
    background-color: #967E76;
    border: #967E76;
    padding: 10px 20px;
}
.section__container-comments {
    padding: 20px;
}
.section__comment {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 20px;
}
.section__comment__container-user {
    margin-right: 20px;
}
.section__comment__user {
    border: 1px solid transparent;
    border-radius: 50%;
}
.section__comment__text__name-user {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 3px;
}
.section__comment__text__date {
    font-size: 0.8em;
    margin-bottom: 10px;
}
.section__comment__text__comment {
    text-align: justify;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #B7C4CF;
}
.footer__1 {
    margin: auto;
    margin-top: 20px;
}
.footer__1__logo {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 100px;
}
.footer__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 40px;
}
.footer__2__container-redes {
    margin: 10px 25px;
}
.footer__2__redes {
    font-size: 3em;
    color: #967E76;
}
.footer__3 {
    margin: 10px 0;
}
.footer__3__container-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__3__info {
    margin: 2% 10%;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
}
/*----------------------Desktop--------------------*/
@media (min-width: 1024px) {
    .main__container-title {
        padding: 10px 30%;
    }
    .section__container-article {
        padding: 20px 10% 0 10%;
    }
    .section__article__subtitle {
        font-size: 2.3em;
    }
    .section__article__text {
        font-size: 1.2em;
        line-height: 35px;
    }
    .section__article__img {
        width: 70%;
    }
    .section__container-form {
        width: 60%;
    }
    .section__container-comments {
       width: 75%;
    }
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__1 {
        justify-content: center;
        margin: auto;
    }
    .footer__2 {
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .footer__3 {
        flex-direction: column;
        align-content: center;
    }
}

/*-----------------footer-------------------*/
/*------Mobile-----*/

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #b7c4cf;
    padding-top: 20px;
  }
  .footer__1 {
      display: flex;
    justify-content: center;
  }
  .footer__1__logo {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 130px;
  }
  .footer__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 30px;
    flex-wrap: wrap;
  }
  .footer__2__container-redes {
      padding: 20px;
  }
  .footer__2__redes {
    font-size: 3em;
    color: #967e76;
  }
  .footer__3 {
      display: flex;
      justify-content: center;
    margin-bottom: 20px;
  }
  .footer__3__container-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__3__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  /*-----Desktop-----*/
  @media (min-width: 1024px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 40px;
    }
    .footer__1 {
      justify-content: flex-start;
    }
    .footer__1__logo {
      width: 160px;
    }
    .footer__2 {
      width: 40%;
    }
    .footer__2__container-redes {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .footer__2__redes {
      font-size: 3.5em;
    }
    .footer__3 {
      flex-direction: column;
      margin-bottom: 0;
      justify-content: space-around;
    }
    .footer__3__container-info {
      align-items: flex-end;
      margin-bottom: 0;
    }
    .footer__3__info {
      margin: 15px 0;
      font-size: 1.5em;
    }
  }
  